#single-post .post{
	min-height: 300px;
	height: auto;
	display: inline-block;
}
#single-post .post img{
	padding: 20px;
	width: 150px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
#single-post .post p{
	text-indent: 30px;
	font-weight: 700px;
	font-size: 14px;
	padding: 10px;
	padding-bottom: 20px;
	text-align: justify;
	color: #55595C;

}
#single-post #arrows-post{
	margin: auto;
    margin-top: 20px;
    max-width: 25%;
    width: 100%;
    text-align: center;
}
#single-post .arrows-single{
	cursor: pointer;
	text-transform: uppercase;
	max-width: 48%;
    border: none;
    height: 30px;
    border-radius: 7px;
    width: 100%;
    color: #1F242A;
    background: #F28C00;
}