#slider{
	max-width: 1024px;
	width: 100%;
	margin-top: 20px;
	display: block;
	border-radius: 7px;
}
#slider a{
	max-width: 1024px;
	width: 100%;
	display: block;
	border-radius: 7px;
}
#slider a img{
	border-radius: 7px;
}
#slider button.slick-arrow{
    position: absolute;
    z-index: 9;
    top: 50%;
    color: transparent;
    margin-top: -8px;
    border: none;
    background: transparent;
    outline: none;
	opacity: .3;
	transition: all .3s linear;
}
#slider .slick-next{
	right: 25px;
}
#slider .slick-prev{
	left: 0;
}
#slider .slick-next::after, #slider .slick-prev::before{
	content: " ";
    background-image: url(../img/arrow.png);
    width: 25px;
    height: 50px;
    position: absolute;
    z-index: 9;
    background-repeat: no-repeat;
    background-size: 50px;
    cursor: pointer;
}
#slider .slick-next:hover{
	opacity: 1;
}
#slider .slick-prev:hover{
	opacity: 1;
}
#slider .slick-next::after{
    background-position-x: -25px;
}
#slider .slick-prev::before{
    background-position-x: 0;
}
